@font-face {
	font-family: 'DIN Pro Medium';
	src: url('../fonts/din_pro_medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/din_pro_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/din_pro_medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/din_pro_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/din_pro_medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/din_pro_medium.svg#din_pro_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}