* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: 16px;
}

ul, 
ol {
    list-style-type: none;
}

body {
    font-family: 'DINpro', sans-serif;
    font-size: 16px;
}

.header {
    width:100%;
    display: flex;
    justify-content: center;
}
.container {
    width: 70%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 64px;
}

.navigation__content {
    display: flex;
    justify-content: space-between;
    width: 451px;
}

.navigation__logo__image {
    height: 40px;
}

.navigation__content__item {
    font-weight: 700;
    font-size: 1em;
    line-height: 40px;
    text-align: center;
}

.navigation__content--orange {
    color:  #FF9900; 
    position: relative;
}

.navigation__content--orange::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 73px;
    height: 2px;
    top: 24px;
    left: 0;
    background-color:  #FF9900;
}

.navigation__content--triangle {
    color: #000;
}

.navigation__content--black {
    color: #000;
}

.navigation__content--triangle::after {
    content: "";
    width: 10px;
    height: 5px;
    background: url(../images/triangle.png) no-repeat center;
    padding-left: 15px;
}

.navigation__content__item {
    padding-right: 5px;
}
.header__link {
    height: 40px;
    width: 12%;
    background-color: #FF9900;
    padding-left: 2%;
    padding-top: 12px;
    color: #fff;
}

.header__content {
    margin-bottom: 100px;
}

.header__link::after {
    content: "";
    background: url(../images/message.png) no-repeat center;
    width: 10%;
    height: 10%;
    padding-left: 40%;
}

.header__pretitle {
    margin-top: 196px;
    font-size: 1em;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #929A9F;
    z-index: 2;
}

.header__title {
    width: 50%;
    color: #263640;
    font-size: 2em;
    line-height: 45px;
    z-index: 2;
}

.header__text {
    width: 40%;
    margin-top: 15px;
    font-size: 1em;
    font-weight: 500;
    line-height: 28px;
    color: #929A9F;
    margin-bottom: 38px;
    z-index: 2;
}


.link {
    padding-left: 24px ;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FF9900;
    color: #fff;
    padding-right: 24px;
}

.link::after {
    content: "";
    background: url(../images/arrow.png) no-repeat center;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    padding-left: 16px;
}

.header__image {
    position: absolute;
    max-width: 500px;
    width: 30%;
    background: url(../images/header__image.png) no-repeat center;
    top: 200px;
    left: 55%;
    box-shadow: 0 0 40px 2px #00000033;
    z-index: 1;
}

.header__gray__background {
    display: inline-block;
    position: absolute;
    width: 13%;
    top: 300px;
    right: 35%;
    height: 700px;
    background-color: #F5F8FA;
    color:#F5F8FA;
}

.header__image__btn {
    position: absolute;
    left:55%;
    top: 220px;
    width: 60px;
    height: 60px;
    z-index: 2;
    border-radius: 50%;
    border: 0px;
    background-color: #ffffff88;
}

.header__image__btn::before {
    position: absolute;
    display: inline-block;
    content: '';
    top: 20px;
    left: 30px;
    width: 7px;
    height: 7px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
}

.header__image__btn::after {
    position: absolute;
    display: inline-block;
    content: '';
    bottom: 20px;
    right: 30px;
    width: 7px;
    height: 7px;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
}


.hamburger-menu::before {
    position: absolute;
    display: inline-block;
    content: '';
    height: 4px;
    width: 50px;
    background-color: #263640; 
    border-radius: 5px;
    bottom: 10px;
}

.hamburger-menu {
    position: absolute;
    display: none;
    height: 4px;
    width: 50px;
    top: 80px;
    right: 50px;
    background-color: #263640;
    border-radius: 5px;
}

.hamburger-menu::after {
    position: absolute;
    display: inline-block;
    content: '';
    height: 4px;
    width: 50px;
    margin-top: 10px;
    background-color: #263640;
    border-radius: 5px;
}

.hero {
    width:100%;
    display: flex;
    justify-content: center;
    background-color: #F5F8FA;
}

.hero__background {
    height: 100px;
}

.hero__title {
    font-size: 1.5em;
    line-height: 44px;
    color: #263640;
    font-weight: 700;
    margin-bottom: 16px;
}

.hero__text {
    width: 43%;
    color: #929A9F;
    font-size: 1em;
    line-height: 28px;
    margin-bottom: 80px;
}

.hero__content {
   display: flex;
   justify-content: space-between;
   background-color: #F5F8FA;
}
.hero__cards {
    width: 25%;
}

.hero__cards__image {
    box-shadow: 0px 4px 40px 0px #00000012;
}
.hero__cards__title {
    margin-top: 24px;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 30px;

}

.hero__cards__description{
    margin-top: 24px;
    font-size: 1em;
    line-height: 28px;
    width: 312px;
    margin-bottom: 24px;
    color: #929A9F;
 }

 .cards__link {
    font-size: 1em;
    font-weight: 500;
    line-height: 28px;
    color: #FF9900;
}

.cards__link::after {
    content: "";
    background: url(../images/arrow__orange.png) no-repeat center;
    width: 10%;
    height: 10%;
    padding-left: 24px;
}

.about {
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 186px;
    background-color: #F5F8FA;
    height: 850px;
}

.about__content {
    width:85%;
    background: #263640;
    height: 570px;
    z-index: 3;
}

.about__pretitle {
    margin-left: 10%;
    padding-top: 98px;
    font-size: 0.9em;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #929A9F;
}

.about__title {
    width: 55%;
    margin-left: 10%;
    padding-top: 24px;
    font-size: 2em;
    line-height: 44px;
    color: #fff;
    font-weight: 700;
}

.about__text{
    width: 47%;
    margin-left: 10%;
    padding-top: 24px;
    font-size: 1em;
    line-height: 26px;
    color: #fff;
}

.about__line{
    width: 55%;
    margin-left: 10%;
    margin-top: 56px;
    border-bottom: 1px solid #fff;
    opacity: 0.2;
    margin-bottom: 24px;
}

.about__link {
    margin-left: 10%;
    font-size: 1em;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
}


.about__link::after {
    content: "";
    background: url(../images/arrow.png) no-repeat center;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    padding-left: 16px;
}

.about__image {
    position: absolute;
    top: 2020px;
    left: 55%;
    width: 28%;
    box-shadow: 0px 10px 50px 0px #00000033;
}
.about__background__white__left {
    display: inline-block;
    width: 10%;
    background-color: #fff;
    position: absolute;
    left:0%;
    top:2150px;
    height: 400px;
}
.about__background__white__right {
    display: inline-block;
    width: 30%;
    background-color: #fff;
    position: absolute;
    left:70%;
    top:2150px;
    height: 400px;
}

.projects {
    position: relative;
    padding-top: 150px;
    width:100%;
    display: flex;
    justify-content: center;
}
.projects__title {
    width: 55%;
    font-size: 2em;
    line-height: 44px;
    color: #263640;
    font-weight: 700;
}

.projects__text {
    width: 47%;
    color: #929A9F;
    font-size: 1em;
    line-height: 28px;
    margin-bottom: 80px;
}

.projects__link {
    position: absolute;
    top:160px;
    left:75%;
}

.projects__pretitle {
    margin-top: 80px;
    font-size: 1em;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #929A9F;
    z-index: 2;
}

.projects__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.projects__card {
    width: 30%;
}

.prodjects__card__title {
    font-size: 1em;
    font-weight: 700;
    line-height: 30px;
}

.projects__card__text {
    margin-top: 20px;
    font-size: 0.9em;
    line-height: 28px;
    color: #929A9F;
    margin-bottom: 20%;
}

.career {
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 300px;
    background-color: #F5F8FA;
    padding-top: 100px;
}

.career__pretitle {
    margin-bottom: 16px;
    font-size: 1em;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #929A9F;
}

.career__title {
    font-size: 2em;
    line-height: 44px;
    color: #263640;
    font-weight: 700;
    margin-bottom: 24px;
}



.career__text {
    width: 30%;
    color: #929A9F;
    font-size: 1em;
    line-height: 28px;
    margin-bottom: 80px;
}

.career__image {
    position: absolute;
    top:3300px;
    left: 40%;
    width: 50%;
}

.career__background {
    height: 116px;
    background-color: #F5F8FA;
}

.footer {
    width:100%;
    display: flex;
    justify-content: center;
    background-color: #263640;
}


.footer__content {
    display: flex;
    justify-content: space-between;
}

.white__logo {
    margin-top: 85px;
    width: 45%;
}

.footer__info {
    width: 40%;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.footer__contacts {
    width: 45%;
}

.footer__adress {
    width:30%;
}

.footer__title {
font-size: 0.8em;
line-height: 18px;
letter-spacing: 1.75px;
color: #FFFFFF;
text-transform: uppercase;
font-size: 700;
}

.footer__text {
    color: #FFFFFF;
font-size: 1em;
line-height: 26px;
}

.footer__line {
    display: inline-block;
    width: 100%;
    height: 1px;
    margin-top: 64px;
    background-color: #fff;
    opacity: 0.2;
}

.footer__bottom {
    width: 17%;
    margin-top: 64px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
}

.footer__stick {
    height: 20px;
    width: 1px;
    opacity: 0.2;
    background-color: #fff;
}
@media (max-width: 767px) {

    body {
        font-size: 14px;
    }

    .navigation__content{
      display: none;
    }
    .header__link {
        display: none;
    }

    .container {
        width: 90%;
    }
    .hamburger-menu{
        display: inline-block;
    }

    .header__pretitle {
          margin-top: 100px;
          width: 90%;
    }

    .header__image {
        left: 7%;
        width: 90%;
        top: 570px;
    }

    .header__gray__background {
        display: none;
    }

    .header__image__btn {
        display: none;
    }

      .header__title {
          width: 80%;
      }

      .header__text {
          width: 70%;
      }

      .hero {
          margin-top: 300px;
          background-color: #F5F8FA;
          width: 120%;
      }

      .hero__title {
         width: 90%
      }

      .hero__text {
          width: 90%;
      }

      .hero__content {
         flex-direction: column;
         justify-content: center;
         margin-left: 5%;
      }

      .hero__cards {
          width: 60%;
          margin-bottom: 40px;
      }
      .about {
          padding-top: 50px;
          height: 900px;
          width: 120%;
      }

      .about__background__white__right {
          display: none;
      }

      .about__background__white__left {
          display: none;
      }
      .about__content {
          width: 80%;
          height: 700px;
      }
      .about__title {
          width: 80%;
      }
      .about__text {
          width: 80%;
      }
      .about__line {
          margin-top: 10px;
      }
      .about__image {
          display: none;
      }

      .projects {
          margin-top: 0px;
      }

      .projects__title {
        width: 90%;
    }
    
    .projects__text {
        width: 90%;
    }
    
    .projects__link {
        top:340px;
        margin-left: -100px;
    }

    .projects__cards {
        display: block;
    }
    .projects__card {
        width: 90%;
        margin-bottom: 40px;
    }

    .career__image {
        display: none;
    }

    .career {
        margin-top: 50px;
        padding-top: 50px;
    }

    .career__text {
        width: 100%;
    }

    .footer {
        width: 120%;
    }

    .footer__content {
    flex-direction: column;
    }

    .footer__info {
        width:100%
    }

    .footer__bottom {
        width: 50%;
    }
}


@media (max-width: 1025px) and (min-width: 768px) {


    .navigation__content{
        display: none;
      }
      .header__link {
          display: none;
      }
      .hamburger-menu{
          display: inline-block;
      }

      .header__gray__background {
        display: none;
    }

    .header__image__btn {
        display: none;
    }

    .header__image {
        position: absolute;
        width: 31%;
        background: url(../images/header__image.png) no-repeat center;
        top: 200px;
        left: 60%;
    }
      .header__pretitle {
          margin-top: 110px;
      }

    .hero {
        margin-top: 30px;
        background-color: #F5F8FA;
        width: 120%;
    }

    .hero__title {
       width: 100%
    }

    .hero__text {
        width: 100%;
    }

    .hero__content {
      display: block;
    }

    .hero__cards {
        width: 90%;
        margin-bottom: 40px;

        text-align: center;
    }

    .hero__cards__description {
        text-align: center;
        width: 100%;
    }
    .about__background__white__right {
        display: none;
    }

    .about__background__white__left {
        display: none;
    }
    .about {
        padding-top: 50px;
        height: 900px;
        width: 120%;
    }
    .about__content {
        width: 90%;
        height: 700px;
    }
    .about__image {
        position: absolute;
        top: 3000px;
        left: 70%;
        width: 28%;
        box-shadow: 0px 10px 50px 0px #00000033;
    }

    .projects__cards {
        display: block;
    }
    .projects__card {
        width: 90%;
        margin-bottom: 40px;
    }

    .projects__card__text {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .projects__title {
        width: 90%;
    }
    
    .projects__text {
        width: 90%;
    }

    .career__image {
       top:150px;
       left: 50%;
       width: 40%;
    }

    .career {
        position: relative;
        margin-top: 50px;
        padding-top: 50px;
    }

    .career__text {
        width: 50%;
    }

    .footer {
        width: 120%;
    }

    .footer__info {
        width: 60%;
    }
    
    .footer__info {
        width:100%
    }

    .footer__bottom {
        width: 30%;
    }

}